<div class="todo--card">
    <form id="list-{{ todolist.id }}" method="post" action="/{{ todolist.id }}/update">
        <input
                type="text"
                name="todo--name"
                class="todo--title"
                oninput="autoSubmit()"
                data-original-value="{{ todolist.name }}"
                value="{{ todolist.name }}"
                maxlength="{{ max_length }}"
        >
        <input type="submit" class="btn-update" title="Update name" value="Update" hidden>
        <input type="submit" formaction="/{{ todolist.id }}/delete" class="btn-delete"
               title="Delete {{ todolist.name }}"
               value="Delete">
    </form>

    <ul id="listitems-{{ todolist.id }}" class="todo--list">
        {% for item in todolist.items %}
        <li>{% include 'todolist/item.html' %}</li>
        {% endfor %}

        {# empty list item #}
        <li>
            <form id="newitem-{{ todolist.id }}" method="post" action="/{{ todolist.id }}/additem">
                <input type="checkbox" id="completed" name="completed">
                <input type="text" class="todo--item" id="description" name="description" placeholder="New Item"
                       maxlength="{{ max_length }}">
                <input type="submit" class="btn-add" title="Add item" value="Add">
            </form>
        </li>
    </ul>

    <p class="flash"></p>

    {% for notification in get_flashed_messages(category_filter=["list-" ~ todolist.id]) %}
    <p>{{ notification }}</p>
    {% endfor %}

</div>