html {
    font-size: calc(max(100vh, min(1440px, 100vw)) * .015);
    font-family: 'Roboto', sans-serif;
}

body {
    margin: auto;
    min-height: 100vh;
    max-width: 1200px;

    padding: 1em;
}

.nav-list {
    list-style: none;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand * {
    margin: 0;
}

.todo--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 0.5em;

    margin: 1em 0;
}

.todo--card {
    padding: 0.25em;
    border: 1px solid black;
}

.todo--list {
    list-style-type: none;
}