*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: auto;
    min-height: 100vh;
    max-width: 1200px;

    padding: 1em;
}

input[type="text"], input[type="password"] {
    padding: 0.5em;
}

.flash {
    font-size: 0.8rem;
    font-style: oblique;

    color: red;
}

.whisper {
    font-size: 0.8em;
    font-style: oblique;
    color: #999;
}


/*              NAVIGATION              */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .slogan {
    margin: 0.25em 0;
    font-style: oblique;
}

nav a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;

    padding: 0;
}

.nav-list li {
    padding: 0 1em;
    display: inline;
}


/*              TODO LIST               */

.todo--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 1em;
    padding: 1em;
}

.todo--card {
    display: inline-block;

    min-width: 25%;

    margin: 0.5em;
    padding: 1em;

    background-color: #eee;
}

.todo--list {
    padding: 0;
}

.todo--title {
    margin: 0.5em 0;
}

.todo--list li {
    position: relative;
    list-style-type: none;

    margin: 0.5em 0;

    padding: 0.3em;

    border: 1px solid #eee;
}

.checked {
    color: #999;
    text-decoration: line-through;
}


/*              FORMS               */

fieldset {
    display: flex;
    flex-direction: column;

    padding: 0.5em 0;
    border: none;
}

.todo--title {
    font-weight: bold;
    font-size: 1em;
}