<div class="wrapper tasklist--card">
    <div class="tasklist--header">
        <input class="tasklist--name" type="text" value="{{ tasklist.name }}" readonly>
    </div>
    <ul class="task--list">
        {% for item in tasklist.items %}
        <li class="list--item">
            <input id="completed-{{ loop.index }}" type="checkbox" value="{{ item.completed }}" disabled
                   {{ "checked" if item.completed}}>
            <label for="completed-{{ loop.index }}"></label>
            <input type="text" class="task--item{{ ' checked' if item.completed }}" value="{{ item.description }}"
                   readonly>
        </li>
        {% endfor %}
    </ul>
</div>