{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}Todo List{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if g.user %}
<div class="todo--container">

    {% for todolist in todolists %}
    <div class="todo--card">
        <form method="post" action="/{{ todolist.id }}/delete">
            <input
                    type="text"
                    name="todo--title"
                    class="todo--title" oninput="handleListOnInput()"
                    data-original-value="{{ todolist.name }}"
                    value="{{ todolist.name }}"
                    maxlength="{{ max_length }}"
            >
            <input type="submit" value="Delete">
        </form>

        {% include 'list_items.html' ignore missing %}

        {% for notification in get_flashed_messages(category_filter=["todo-" ~ todolist.id]) %}
        <p class="flash">{{ notification }}</p>
        {% endfor %}

    </div>
    {% endfor %}

    <div class="todo--card">
        <form method="post" action="/create">
            <input type="submit" value="+">
        </form>
    </div>

</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}
