{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}Todo List{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if g.user %}
<div class="todo--container">

		{% for todolist in todolists %}
			<div class="todo--card">
				<form method="post" action="/{{ todolist.id }}/delete">
					<input type="text" id="todo-{{ todolist.id }}--title" name="todo-{{ todolist.id }}--title" class="todo--title" oninput="handleListOnInput();dynamicWidth();" data-original-value="{{ todolist.name }}" value="{{ todolist.name }}">
					<input type="submit" value="Delete">
				</form>

				{% include 'listitems.html' ignore missing %}

				{% for notification in get_flashed_messages(category_filter=["list-" ~ todolist.id]) %}
					<p>{{ notification }}</p>
				{% endfor %}
			</div>
		{% endfor %}

		<div class="todo--card">
			<form method="post" action="/create">
				<input type="submit" value="+">
			</form>
		</div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}
