{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if g.user %}
<article>
    <div class="tasklist--container">
        {% for tasklist in tasklists %}
        {% include 'tasklist/tasklist.html' %}
        {% endfor %}

        <section id="last-card" class="last tasklist--card">
            <button id="create-list" class="big btn-icon btn-add" onclick="handleCreateList()" formaction="/create"
                    formmethod="post" title="Create List"></button>
        </section>
    </div>
</article>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}
