<!doctype html>
<html lang="en-US">
<head>
    <title>{% block title %}{% endblock %} | Tasklists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"/>
</head>

<body>
<nav>
    <a href="/">
        <p class="brand title">Tasklists</p>
        <p class="brand slogan">Stay organized</p>
    </a>
    <ul class="nav__list">
        {% if g.user %}
        <li><a class="nav__item btn" href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
        <li><a class="nav__item btn" href="{{ url_for('auth.register') }}">Register</a>
        <li><a class="nav__item btn" href="{{ url_for('auth.login') }}">Login</a>
            {% endif %}
    </ul>
</nav>

<main class="content">
    {% block content %}{% endblock %}
</main>

{% block scripts %}{% endblock %}
</body>
</html>