<!doctype html>
<title>{% block title %}{% endblock %} | Task List</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<nav>
    <h2 class="slogan">Improve your productivity</h2>
    <ul class="nav-list">
    {% if g.user %}
        <li><a href="{{ url_for('auth.logout') }}">Logout</a>
    {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Login</a>
    {% endif %}
    </ul>
</nav>

<main class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</main>

{% block scripts %}{% endblock %}