<div class="todo--container">
    <div class="todo--card">
        <input type="text" class="todo--title" value="{{ todolist.name }}" readonly>
        <ul class="todo--list">
            {% for item in todolist.items %}
            <li>
                <input type="checkbox" value="{{ item.completed }}" disabled {{ "checked" if item.completed }}>
                <input type="text" class="todo--item {{ 'checked' if item.completed }}" value="{{ item.description }}" readonly>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>