<ul id="todo-{{ todolist.id }}" class="todo--list">
    {% for item in todolist.items %}
    <li>
        <form method="post" action="/{{ todolist.id }}/{{ item.id }}/remove">
            <input
                    type="checkbox"
                    id="completed-{{ item.id }}"
                    name="completed-{{ item.id }}"
                    oninput="handleItemOnInput()"
                    data-original-value="{{ 'checked' if item.completed else 'unchecked' }}"
                    value="completed"
                    {{ "checked" if item.completed }}
            >
            <input
                    type="text"
                    id="description-{{ item.id }}"
                    name="description-{{ item.id }}"
                    oninput="handleItemOnInput()"
                    data-original-value="{{ item.description }}"
                    value="{{ item.description }}"
                    maxlength="{{ max_length }}"
            >
            <input type="submit" class="btn-remove" value="Remove">
        </form>
    </li>
    {% endfor %}

    {# empty list item element #}
    <li>
        <form method="post" action="/{{ todolist.id }}/additem" onsubmit="preventDefault()">
            <input type="checkbox" id="completed" name="completed">
            <input type="text" id="description" name="description" placeholder="New Item" maxlength="{{ max_length }}">
            <input type="submit" class="create--list" value="Add New">
        </form>
    </li>
</ul>