{% extends 'layout.html' %}

{% block content %}

<div class="wrapper">
    <h2>{% block title %}Register{% endblock %}</h2>
    <p class="detail">Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>

    <form method="post">
        <fieldset>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="someone@example.com" required>
        </fieldset>
        <fieldset>
            <label for="password">Password <span class="detail">(at least 6 characters)</span></label>
            <input type="password" name="password" id="password" placeholder="******" required>
        </fieldset>
        <fieldset>
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password" placeholder="******" required>
        </fieldset>
        <fieldset>
            <button>Register</button>
        </fieldset>
    </form>

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <p class="flash {{ category }}">{{ message }}</p>
    {% endfor %}
</div>

{% include 'tasklist/tasklist_readonly.html' %}

{% endblock %}
